In [ ]:
pip install geocoder

In [21]:


import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis
import json # library to handle JSON files

import geocoder

print('Libraries imported.')

Libraries imported.

**Import Data**

In [64]:
data = pd.read_csv(r'/content/drive/MyDrive/toronto.csv')
data = data.drop(['Unnamed: 0'], axis=1)
data.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

**getting latitude and longitude for each Postalcode**

In [65]:
ldata = pd.read_csv(r'/content/sample_data/Geospatial_Coordinates (1).csv')
ldata.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

**Grouping both ldata and data**

In [68]:
newTable = data.merge(ldata, left_on='PostalCode', right_on='Postal Code', how='inner')
newTable = newTable.drop(['Postal Code'], axis=1)

newTable.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476